body{
    margin: 0%;
}

/*EN TETE*/

/*IMAGE DU FOND*/
header{
    background-image: url(image/rul.jpg);
    background-size: cover;
}

/* PERMET DE METTRE TOUT LES MOTS A COTER ET CENTRER */
nav ul {
    margin-left: 17%;
    padding-top: 3.5em;}

/* MENU*/
nav ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    padding-right: 2.5em;
    list-style: none;
}

/* PERMET DE METTRE LA COULEUR BLANCHE SUR LE TEXTE */
nav ul li a {
   color: white;
   text-shadow: 0em 0.05em 0.1rem rgba(0,0,0,0.4);
}

/* TITRE */
h1{
    text-align: center;
    font-size: 7em;
    line-height: 0.6em;
    text-shadow: 0em 0.05em 0.1rem rgba(0,0,0,0.4);
    padding-top: 200px;
    
}

/* BIENVENUE SUR MON/ POLICE COULEUR */
.bien{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

/* MON SITE INTERNET/ POLICE COULEUR */
.site{
    font-family: 'Parisienne', cursive; 
    color:rgb(255,140,0);   
}

/* 3 ICONE */
.displays{
    display: flex;
    justify-content: center;
    padding-bottom: 11em ;
    padding-top: 2em;
    margin-left: 5em;
}

/* PADDING SUR LES ICONES */
.icone{
    padding-right: 6em;
}

@media (max-width: 1081px){
    h1{
        font-size: 1.5em;
        padding-top : 2em
    }

    .displays{
        padding-bottom: 2em;
        padding-top: 0em;
        margin-left: 0em;
    }
    .icone img{
        width: 40px;}

    .icone{
        padding-right: 0.5em;
    }
    

}


/* PREMIERE PAGE */

/* DISPLAY DES TROIS BLOCS */
.display{
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}

/*BORDURE DES CARD */
.card{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px
}

/* BORDURE DES IMAGES */
.card img{
    border-radius: 10px 10px 0px 0px;
}

/* TITRE PRODUIT IMPRIMEE*/
.theme1{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    font-family: 'Parisienne', cursive; 
    color:rgb(210,70,24);
    font-size: 2rem;
    font-weight: 800;
    
}

/* TITRE SITE INTERNET */
.theme2{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    font-family: 'Parisienne', cursive; 
    color:rgb(35,72,170);
    font-size: 2rem;
    font-weight: 800;
    
}

/* TITRE PHOTOGRAPHIE */
.theme3{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    font-family: 'Parisienne', cursive; 
    color:rgb(110,50,176);
    font-size: 2rem;
    font-weight: 800;}

@media (max-width: 1081px){
        .display{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;   
        }

        .card{
            width: 12.6em;
            margin-bottom: 2em;
        }

        .card img{
            height: 10em;
        }

        .theme1{
            font-size : 1em
        }
        .theme2{
            font-size : 1em
        }
        .theme3{
            font-size : 1em
        }
    
    }

/* DEUXIEME PAGE */

/* COULEUR DU TITRE PRINCIPAL QUI CHANGE */
.site1{
    font-family: 'Parisienne', cursive; 
    color:rgb(223, 238, 22);   
}
/* BLOC DIPLOME EXPERIENCE CONNAISANCE */
.profesionelle{
    display: flex;
    justify-content: space-around;
    margin-left: 1.5em;
    margin-top: 2em;
}

/* FOND GRIS */
.rectangle{
    background-color: rgb(252, 255, 248);
    width: 32.5em;
    border-top: 8mm ridge rgb(223, 238, 22, .6);
    box-shadow: 10px 5px 5px rgb(228, 224, 224);  
}

/* CENTRE LES TITRE DANS LES RECTANGLE */
.petititre0{
    text-align: center;
}

/* PLACEMENT DU TEXTE */
.placement{
    padding: 2em;
}

/* DATE EXPERIENCE ET DIPLOME */
.date p{
    font-family: 'Parisienne', cursive;
    color: rgb(232, 232, 22);
    font-size: 1.3rem;
}

/* TAILLE DE LA POLICE DES DIPLOMES ET EXPERIENCES */
.diplome{
    font-size: 1rem;
}

/* TITRE DES COMPETENCES */
.gras {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0.5em;
    text-align: center;
    text-decoration: underline;
    margin-top: 0.5em;
}

/* PROGRESS BAR */
.progress{
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

/* PROGRESS BAR */
.progress-bar{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(223, 232, 24);
    transition: width .6s ease;
}

/* PROGRESS BAR */
.progress-bar-striped{
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
}

/* PROGRESS BAR ANIMATION */
.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    }

/* PROGRESS BAR ANIMATION */
@-webkit-keyframes progress-bar-stripes {
    from {
    background-position: 1rem 0;
    }
    to {
    background-position: 0 0;
    }
    }

/* POURQUOI ME CHOISIR */
.choisir{
    display: flex;
    margin-left: 17em;
    margin-top: 5em;
    margin-right: 5em;
}

/* ICONE */
.crea{
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
}

/* PARAGRAPHE EXPLICATION */
.moi{
    text-align: justify;
}

/* PLACEMENT DE LA DIV */
.pourquoi{
    margin-right: 10em;
    
}

/* PETITTITRE */
.petititre4{
    text-align: center;
    margin-top: 5em;
}

/* PETITTITRE */
.petittitre5{
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

}

/* PETITTITRE */
.petittitre6{
    font-size: 1.5em;
    font-family: 'Parisienne', cursive; 
    color:rgb(255, 8, 0); 
    text-shadow: 0em 0.05em 0.1rem rgba(0,0,0,0.4); 
}

/* CONTACT */
.conseil{
    display: flex;
    justify-content: center;
    margin: 4em;
}

/* TEL ET EMAIL */
.tel{
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2em;
    margin-top: 0.5em;
}

/* BUTTON CV */
.button{
    padding: 2rem;
    border-radius:1rem ;
    background-color: rgb(223, 232, 22);
    text-transform: uppercase;
}

@media (max-width: 1081px){
    .profesionelle{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0em
    }

    .rectangle{
        width: 20em;
        margin-bottom: 2rem
    }

    .choisir{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0em;
        margin-right: 0em;
    }

    .pourquoi{
        margin-right: 0em;
    }

    .crea{
        margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
    }

    .crea img {
        display: block;
    margin-left: auto;
    margin-right: auto
    }

    .moi{
        width: 15em;
    }

    .conseil img {
        height: 2em;
        width: 2em;
    }

    .button{
        padding : 0.5rem
    }

  
}

/* TROISIEME PAGE */

/* COULEUR DU TITRE PRINCIPAL QUI CHANGE */
.site2{
    font-family: 'Parisienne', cursive; 
    color:rgb(210,70,24);   
}

/*PREMIERE DIV DE MON ARTICLE */
.produit{
    display: flex;
    margin-left: 200px ;
    margin-right: 200px;
    margin-top: 2em}

/* PERMET DE METTRE UN FOND BLANC APRES LA DIV PRODUIT */
.article{
    background-color: white;
    margin-left: -32px;
    padding-right: 200px;
    margin-top: 40px
}

/* PADDING DANS ARTICLE1 */
.article1{
    padding: 20px;
}

/* PETITTITRE */
h3{
    font-size: 35px;
    line-height: 0.6em;
}

/* PREMIER MOT */
.petittitre{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* DEUXIEME MOT */
.petittitre1{
    font-family: 'Parisienne', cursive;
    text-shadow: 0em 0.05em 0.1rem rgba(0,0,0,0.4);
}

/* PARAGAPHE DE LA DIV ARTICLE */
.article p{
    text-align: justify;
}

@media (max-width: 1081px){
    .produit{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0em;
        margin-right: 0em;
    }

    .produit img{
        height: 15em;
    }

    .article{
        margin-left: 0em;
        padding-right: 0em;
        margin-top: -5px;
        width: 15em;
    }

    h3{
        font-size: 1em}

}
/* QUATRIEME PAGE */

/* COULEUR DU TITRE PRINCIPAL QUI CHANGE */
.site3{
    font-family: 'Parisienne', cursive; 
    color:rgb(35,72,170);   
}

/* CINQUIEME PAGE */

/* COULEUR DU TITRE PRINCIPAL QUI CHANGE */
.site4{
    font-family: 'Parisienne', cursive; 
    color:rgb(110,50,176);   
}

/* FOOTER */

/* ALIGNEMENT DE TOUT MES TEXTES */
footer{
    text-align: center;
}

/* TITRE CONSEIL */
h2{
    font-family: 'Parisienne', cursive;
    color:rgb(255,140,0);
    font-size: 40px;
    margin-bottom: 0px;
}

/* TEL ET EMAIL */
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 0px;
}

/* LOGO RESEAUX SOCIAUX */
.reseaux{
    display: flex;
    justify-content: center;
}

/* ECARTEMENT ENTRE LES DEUX LOGOS */
.sociaux{
    padding: 0.5rem;
}

@media (max-width: 1081px){
    h2{
        font-size : 20px
    }

    p{
        font-size : 10px
    }

    .sociaux img{
        height: 1.5em;
    }


}
